django - Installs the Django framework and libraries
gunicorn - A tool for deploying Django with a WSGI
dj-database-url - A Django tool for parsing a database URL
psycopg2 - A PostgreSQL adapter that allows Django to connect to a PostgreSQL database
